<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.topik1sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Topik1Sample">
        <activity android:name=".ChoiceMoOrCatActivity" />
        <activity android:name=".ChoiceMoActivity" />
        <activity android:name=".SolveMoActivity" />
        <activity android:name=".ChoiceCatActivity" />
        <activity android:name=".SolveCatActivity" />
        <activity android:name=".MainActivity"> <!--Main이랑 CHoice Mo랑 순서 바꿔놨음 나중에 다시 바꿀 것.-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>